<!DOCTYPE html>
<html lang="en" ng-app="doughnutApp">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/doughnutsController.js"></script>
  <title>Doughnuts!</title>
</head>
<body ng-controller="DoughnutsController as dc">

  <h1>You are gonna get FAT!</h1>

  <ul>
    <li ng-repeat="doughnut in dc.all">
      <strong ng-hide="doughnut.fiddling" ng-click="doughnut.fiddling=true">{{ doughnut.style }}</strong>
      <strong ng-hide="doughnut.fiddling" ng-click="doughnut.fiddling=true">{{ doughnut.flavor }}</strong>
      <button ng-hide="doughnut.fiddling" ng-click="dc.eatDoughnut(doughnut.id)">Eat</button>

      <form ng-if="doughnut.fiddling" ng-submit="dc.fiddleDoughnut(doughnut)">
        <input type="text" ng-model="doughnut.style">
        <input type="text" ng-model="doughnut.flavor">
        <input type="submit" value="Fiddle!">
      </form>  
    </li>
  </ul>
  
  <form ng-submit="dc.bakeDoughnut()">
    <label for="style">Style</label>
    <input type="text" ng-model="dc.freshDoughnut.style" placeholder="style"><label for="flavor">Flavour</label>
    <input type="text" ng-model="dc.freshDoughnut.flavor" placeholder="flavour">
    <input type="submit" value="Bake!">
  </form>

</body>
</html>